tbody, td, tfoot, th, thead, tr {
    border-style: none !important;
    text-align: center;
}

.calculateTotal {
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    
    /* float: right; */
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #ccc;
    content: '\00d7';
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
    border-radius: 5px !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.deliverytime {
    background-color: #ecf0f1;
    border:3px solid #ecf0f1;
    padding:6px;
   color: #95a5a6;
   border-radius: 5px !important;
}
.datecontainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 30px;
}
.cartnote {
    margin-left: 30px;
  
}
#contentnote {
    border-radius: 10px !important;
    background-color: #f2f2f0;
    border: none;
    
}
input:focus, textarea:focus, select:focus {
    outline: 1px solid #3F2E3E; /* 设置选取框的颜色和样式 */
}