.content-wrapper {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    align-items: center;
    padding-left: 40px;
}
.grid-container1 {
    display: flex;
    flex-direction: row-reverse; /* 图片在右，文本在左 */
    align-items: center;
    gap: 30px;
    text-align: right;
    margin-right: 60px; /* 根据需要调整图片和文本的间距 */
    padding-top: 30px;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*home首頁字體*/
.text3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-shadow: 1px 2px 3px rgba(11, 10, 10, 0.847);
    padding: 10px 20px;
}
#images143 {
    opacity: 0; /* 初始状态设置为透明 */
    animation: fadeInAndStayVisible 2s ease-in-out forwards;
}

@keyframes fadeInAndStayVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.images84774 {
    width: 600px;
    height: 400px;
    padding-left: 20px;
    padding-top: 20px;
}

.hometext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* 設定高度或者根據需要的高度 */
    background-color: #f8f8f8;
    position: absolute;
    top: 100%; /* 文字的上邊緣置於圖片中央 */
    left: 70%; /* 文字的左邊緣置於圖片中央 */
    transform: translate(-50%, -50%); /* 將文字中心對齊圖片中心 */
    background-color: rgba(255, 255, 255, 0.9); /* 設定背景顏色，可以根據需要調整 */
    padding: 20px; /* 設定內邊距，可以根據需要調整 */
}
/*加入購物車的button*/
.shopbutton {
    font-size: 13px !important;
    text-align: center !important;
    display: block;
    background-color: rgb(150, 126, 118);
    border: 3px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 40%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.shopbutton:hover {
    background-color: #ffffff;
    color: rgb(150, 126, 118);
}
/*登入畫面css*/
.login {
    width: 600px;
    height: 400px;
    background-color: FFB9B9;
    border-radius: 10px;
    border: 1px solid #fff;
}

.center {
    display: block;

    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.inner {
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-content: center;
    flex-wrap: wrap;
}
.loginbutton {
    font-weight: bold !important;
    font-size: 16px !important;
    text-align: center !important;
    display: block;
    background-color: rgb(150, 126, 118);
    border: 3px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.loginbutton:hover {
    background-color: #eadbc8;
    color: rgb(150, 126, 118);
    color: white;
}

/*頁尾css*/
.footer {
    border: none !important;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #faf3f0;
    border-top: 1px solid #e5e5e5;
}

.footer > * {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #999;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    font-family: "Pacifico", cursive;
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav > * {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}

#textkeyframes {
    color: rgb(150, 126, 118);
    opacity: 0; /* 初始設置文字透明度為0 */
    white-space: nowrap; /* 防止文字自動換行 */
    overflow: hidden; /* 隱藏超出的部分 */
    animation: slide-in 3s ease-out forwards; /* 使用名為slide-in的動畫，持續2秒，淡出緩和，保留最後狀態 */
}
@keyframes slide-in {
    from {
        transform: translateY(100%); /* 初始位置在下方，完全隱藏 */
        opacity: 0; /* 初始透明度為0 */
    }
    to {
        transform: translateY(0); /* 最終位置在上方，完全顯示 */
        opacity: 1; /* 最終透明度為1 */
    }
}

#extkeyframes {
    width: 50%; /* 文字寬度佔一半，可以根據需要調整 */
    padding: 20px;
}
